Spark practice

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("data_processing").getOrCreate()

In [3]:
df = spark.read.csv("/Users/jessu/Documents/Spark ML/sample_data.csv",inferSchema=True,header=True)

In [4]:
df.show(3)

+-------+---+----------+------+-------+
|ratings|age|experience|family| mobile|
+-------+---+----------+------+-------+
|      3| 32|       9.0|     3|   Vivo|
|      3| 27|      13.0|     3|  Apple|
|      4| 22|       2.5|     0|Samsung|
+-------+---+----------+------+-------+
only showing top 3 rows

In [5]:
type(df.columns)

list

In [6]:
len(df.columns)

5

In [7]:
df.count()

33

In [8]:
df.printSchema()

root
 |-- ratings: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: double (nullable = true)
 |-- family: integer (nullable = true)
 |-- mobile: string (nullable = true)

In [9]:
df.select("ratings","age").show(3)

+-------+---+
|ratings|age|
+-------+---+
|      3| 32|
|      3| 27|
|      4| 22|
+-------+---+
only showing top 3 rows

In [10]:
df.describe().show()

+-------+------------------+------------------+------------------+------------------+------+
|summary|           ratings|               age|        experience|            family|mobile|
+-------+------------------+------------------+------------------+------------------+------+
|  count|                33|                33|                33|                33|    33|
|   mean|3.5757575757575757|30.484848484848484|10.303030303030303|1.8181818181818181|  null|
| stddev|1.1188806636071336|  6.18527087180309| 6.770731351213326|1.8448330794164254|  null|
|    min|                 1|                22|               2.5|                 0| Apple|
|    max|                 5|                42|              23.0|                 5|  Vivo|
+-------+------------------+------------------+------------------+------------------+------+

In [11]:
type(df)

pyspark.sql.dataframe.DataFrame

In [12]:
df.withColumn("ageafter10years",df['age']+10).show()

+-------+---+----------+------+-------+---------------+
|ratings|age|experience|family| mobile|ageafter10years|
+-------+---+----------+------+-------+---------------+
|      3| 32|       9.0|     3|   Vivo|             42|
|      3| 27|      13.0|     3|  Apple|             37|
|      4| 22|       2.5|     0|Samsung|             32|
|      4| 37|      16.5|     4|  Apple|             47|
|      5| 27|       9.0|     1|     MI|             37|
|      4| 27|       9.0|     0|   Oppo|             37|
|      5| 37|      23.0|     5|   Vivo|             47|
|      5| 37|      23.0|     5|Samsung|             47|
|      3| 22|       2.5|     0|  Apple|             32|
|      3| 27|       6.0|     0|     MI|             37|
|      2| 27|       6.0|     2|   Oppo|             37|
|      5| 27|       6.0|     2|Samsung|             37|
|      3| 37|      16.5|     5|  Apple|             47|
|      5| 27|       6.0|     0|     MI|             37|
|      4| 22|       6.0|     1|   Oppo|             32|
|      4| 37|       9.0|     2|Samsung|             47|
|      4| 27|       6.0|     1|  Apple|             37|
|      1| 37|      23.0|     5|     MI|             47|
|      2| 42|      23.0|     2|   Oppo|             52|
|      4| 37|       6.0|     0|   Vivo|             47|
+-------+---+----------+------+-------+---------------+
only showing top 20 rows

In [13]:
df.withColumnRenamed("age","currentage").show()

+-------+----------+----------+------+-------+
|ratings|currentage|experience|family| mobile|
+-------+----------+----------+------+-------+
|      3|        32|       9.0|     3|   Vivo|
|      3|        27|      13.0|     3|  Apple|
|      4|        22|       2.5|     0|Samsung|
|      4|        37|      16.5|     4|  Apple|
|      5|        27|       9.0|     1|     MI|
|      4|        27|       9.0|     0|   Oppo|
|      5|        37|      23.0|     5|   Vivo|
|      5|        37|      23.0|     5|Samsung|
|      3|        22|       2.5|     0|  Apple|
|      3|        27|       6.0|     0|     MI|
|      2|        27|       6.0|     2|   Oppo|
|      5|        27|       6.0|     2|Samsung|
|      3|        37|      16.5|     5|  Apple|
|      5|        27|       6.0|     0|     MI|
|      4|        22|       6.0|     1|   Oppo|
|      4|        37|       9.0|     2|Samsung|
|      4|        27|       6.0|     1|  Apple|
|      1|        37|      23.0|     5|     MI|
|      2|        42|      23.0|     2|   Oppo|
|      4|        37|       6.0|     0|   Vivo|
+-------+----------+----------+------+-------+
only showing top 20 rows

In [14]:
df.distinct().show()

+-------+---+----------+------+-------+
|ratings|age|experience|family| mobile|
+-------+---+----------+------+-------+
|      3| 32|       9.0|     3|   Vivo|
|      4| 22|       2.5|     0|Samsung|
|      5| 27|       6.0|     0|     MI|
|      4| 22|       6.0|     1|   Oppo|
|      3| 27|       6.0|     0|     MI|
|      2| 32|      16.5|     2|   Oppo|
|      4| 27|       9.0|     0|   Oppo|
|      2| 27|       9.0|     2|Samsung|
|      3| 37|      16.5|     5|  Apple|
|      4| 27|       6.0|     1|  Apple|
|      5| 37|      23.0|     5|   Vivo|
|      2| 27|       6.0|     2|   Oppo|
|      4| 37|       6.0|     0|   Vivo|
|      5| 37|      23.0|     5|Samsung|
|      4| 37|       9.0|     2|Samsung|
|      5| 37|      13.0|     1|   Vivo|
|      5| 27|       2.5|     0|     MI|
|      3| 42|      23.0|     5|     MI|
|      5| 22|       2.5|     0|Samsung|
|      1| 37|      23.0|     5|     MI|
+-------+---+----------+------+-------+
only showing top 20 rows

In [15]:
df.show(n=20,vertical=False)

+-------+---+----------+------+-------+
|ratings|age|experience|family| mobile|
+-------+---+----------+------+-------+
|      3| 32|       9.0|     3|   Vivo|
|      3| 27|      13.0|     3|  Apple|
|      4| 22|       2.5|     0|Samsung|
|      4| 37|      16.5|     4|  Apple|
|      5| 27|       9.0|     1|     MI|
|      4| 27|       9.0|     0|   Oppo|
|      5| 37|      23.0|     5|   Vivo|
|      5| 37|      23.0|     5|Samsung|
|      3| 22|       2.5|     0|  Apple|
|      3| 27|       6.0|     0|     MI|
|      2| 27|       6.0|     2|   Oppo|
|      5| 27|       6.0|     2|Samsung|
|      3| 37|      16.5|     5|  Apple|
|      5| 27|       6.0|     0|     MI|
|      4| 22|       6.0|     1|   Oppo|
|      4| 37|       9.0|     2|Samsung|
|      4| 27|       6.0|     1|  Apple|
|      1| 37|      23.0|     5|     MI|
|      2| 42|      23.0|     2|   Oppo|
|      4| 37|       6.0|     0|   Vivo|
+-------+---+----------+------+-------+
only showing top 20 rows

In [16]:
df.groupBy('mobile').agg({'experience':'sum'}).show(5,False)

+-------+---------------+
|mobile |sum(experience)|
+-------+---------------+
|MI     |81.5           |
|Oppo   |72.5           |
|Samsung|52.0           |
|Vivo   |57.0           |
|Apple  |77.0           |
+-------+---------------+

In [17]:
from pyspark.sql.functions import udf

In [20]:
def price_range(brand):
    if brand in ['Samsung','Apple']: return 'High Price'
    elif brand =='MI': return 'Mid Price'
    else: return 'Low Price'

In [22]:
brand_udf=udf(price_range)

In [23]:
df.withColumn('price_range',brand_udf(df['mobile'])).show()

+-------+---+----------+------+-------+-----------+
|ratings|age|experience|family| mobile|price_range|
+-------+---+----------+------+-------+-----------+
|      3| 32|       9.0|     3|   Vivo|  Low Price|
|      3| 27|      13.0|     3|  Apple| High Price|
|      4| 22|       2.5|     0|Samsung| High Price|
|      4| 37|      16.5|     4|  Apple| High Price|
|      5| 27|       9.0|     1|     MI|  Mid Price|
|      4| 27|       9.0|     0|   Oppo|  Low Price|
|      5| 37|      23.0|     5|   Vivo|  Low Price|
|      5| 37|      23.0|     5|Samsung| High Price|
|      3| 22|       2.5|     0|  Apple| High Price|
|      3| 27|       6.0|     0|     MI|  Mid Price|
|      2| 27|       6.0|     2|   Oppo|  Low Price|
|      5| 27|       6.0|     2|Samsung| High Price|
|      3| 37|      16.5|     5|  Apple| High Price|
|      5| 27|       6.0|     0|     MI|  Mid Price|
|      4| 22|       6.0|     1|   Oppo|  Low Price|
|      4| 37|       9.0|     2|Samsung| High Price|
|      4| 27|       6.0|     1|  Apple| High Price|
|      1| 37|      23.0|     5|     MI|  Mid Price|
|      2| 42|      23.0|     2|   Oppo|  Low Price|
|      4| 37|       6.0|     0|   Vivo|  Low Price|
+-------+---+----------+------+-------+-----------+
only showing top 20 rows

In [29]:
df.count()

33

In [32]:
df = df.dropDuplicates()

In [33]:
df.count()

26

In [34]:
pwd

'/Users/jessu/Documents/Spark ML'

In [39]:
write_loc = '/Users/jessu/Documents/Spark ML/df_csv'

In [40]:
df.coalesce(1).write.format('csv').option("header",True).save(write_loc)

In [49]:
parquet_url = '/Users/jessu/Documents/Spark ML/parquet_partition'

In [50]:
df.coalesce(1).write.format('parquet').partitionBy('mobile').save(parquet_url)

In [ ]:
df